<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Player's Details</h1>
    <div class="container light">




      <table style="margin: 5px auto">
        <tr>
          <td><img src="<%= data.imageURL%>" style="padding-top: 10px;padding-right: 10px;"alt=""><h2>ID: <%= data.pid%></h2></td>
          <td><p style="font-size:1.2rem;"><%= data.profile%></p></td>
        </tr>
      </table>
      <div class="row text-center">
        <div class="col-sm">
          <p style="font-size:1.2rem;">NAME : <%= data.fullName%></p>
        </div>
        <div class="col-sm">
          <p style="font-size:1.2rem;">COUNTRY : <%= data.country%></p>
        </div>
        <div class="col-sm">
          <p style="font-size:1.2rem;">Birth-day : <%= data. born%></p>
        </div>

      </div>
      <hr>
      <div class="row text-center">
        <div class="col-sm">
          <p style="font-size:1.2rem;">Playing-Role : <%= data.playingRole%></p>
        </div>
        <div class="col-sm">
          <p style="font-size:1.2rem;">Age : <%= data.currentAge%></p>
        </div>

      </div>
      <hr>
      <div class="row text-center">
        <div class="col-sm">
          <p style="font-size:1.2rem;">Batting-Style : <%= data.battingStyle%></p>
        </div>
        <div class="col-sm">
          <p style="font-size:1.2rem;">Bowling-Style : <%= data.bowlingStyle%></p>
        </div>

      </div>
      <hr>
      <div class="row text-center">
        <div class="col-sm">
          <p style="font-size:1.2rem;">Played for : <%= data['majorTeams']%></p>
        </div>







<a href="/">  <button class="btn btn-primary" name="button" style="padding-bottom: 5px;"><- go back</button></a>
    </div>

  </body>
</html>
